@font-face {
    font-family: "BigBlueTerm";
    src: url("fonts/BigBlueTerm437NerdFont-Regular.ttf");
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;

    background-size: cover;
    background-color: black;
    background-image: url("media/bg/mainbackground.jpeg");
    color: white;
    text-align: center;
    font-family: "BigBlueTerm";
}

header {
    background-color: rgba(17, 17, 17, 0.35);
    margin-left: 200px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: rgb(17, 17, 17);
     overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
  padding: 5px;
  padding-left: 15px;
  text-align: start;
  text-decoration: none;
  font-size: 25px;
  color: #958796;
  display: block;
}

.subnav a {
    font-size: 15px;
    text-align: start;
    padding-left: 30px;
}

.sidenav a:hover {
  color: #d8d8d8;
}

.content {
    margin-left: 200px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about {
    background-color: rgba(17, 17, 17, 0.6);
    padding: 20px;
    text-align: start;
    display: inline-block;
}

.content a {
    padding-left: 40px;
    line-height: 2;
    font-size: 17px;
}

.content h2 {
    padding-left: 20px;
    line-height: 0.5;
    font-size: 50px;
}

.personal h2 {
    color: rgb(253, 208, 255);
}

.content h3 {
    padding-left: 20px;
    line-height: 0;
    font-size: 20px;
}

.main {
    margin-top: 20px;
}

footer {
    background-color: rgb(17, 17, 17);
    margin-left: 200px;
}