@font-face {
    font-family: "BigBlueTerm";
    src: url("fonts/BigBlueTerm437NerdFont-Regular.ttf");
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: "BigBlueTerm";
}

header {
    background-color: rgba(17, 17, 17, 0.75);
    margin-left: 200px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
  padding: 5px;
  padding-left: 15px;
  text-align: start;
  text-decoration: none;
  font-size: 25px;
  color: #958796;
  display: block;
}

.subnav a {
    font-size: 15px;
    text-align: start;
    padding-left: 30px;
}

.sidenav a:hover {
  color: #d8d8d8;
}

.content {
    margin-left: 200px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    min-height: 0;
    overflow-y: scroll;
}

.insidecontent {
    background-color: rgba(17, 17, 17, 0.5);
    padding: 30px;
    text-align: start;
    display: inline-block;
    min-height: 100%;
    box-sizing: border-box;
}

.content p {
    padding-left: 40px;
    line-height: 0.9;
    font-size: 17px;
}

.content h2 {
    padding-left: 20px;
    line-height: 0.5;
    font-size: 50px;
}

.personal h2 {
    background: linear-gradient(90deg, #ffe1f6, #aa1254);
    -webkit-background-clip: text;
    padding: 12px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content h3 {
    padding-left: 20px;
    line-height: 0;
    font-size: 20px;
}

.main {
    margin-top: 20px;
}

footer {
    background-color: rgb(17, 17, 17);
    margin-left: 200px;
    padding: 15px;
    z-index: 2;
}


.gender a {
    font-size: 20px;
    padding-left: 40px;
    line-height: 0.9;
}

.sexromant a {
    font-size: 20px;
    padding-left: 40px;
    line-height: 0.9;
}

.nonbinary{
    background: linear-gradient(90deg, #fffa69, #FFFFFF, #c983ff, #6d6d6d);
    -webkit-background-clip: text;
    padding: 12px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.genderfluid {
    background: linear-gradient(90deg, #ff31b0, #ffffff, #bd66ff, #707070, #7e82ff);
    -webkit-background-clip: text;
    padding: 12px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.xenogender {
    background: linear-gradient(90deg, #ff5e91, #ffff78, #bc63ff);
    -webkit-background-clip: text;
    padding: 12px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.transgender {
    background: linear-gradient(90deg, #75dcfe, #fda0ff, #e0e0e0, #fd96ff, #aeebff);
    -webkit-background-clip: text;
    padding: 12px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.abrosexual {
    background: linear-gradient(90deg, #b0fc80, #e0e0e0, #ffdca3);
    -webkit-background-clip: text;
    padding: 12px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.panromantic {
    background: linear-gradient(90deg, #ff8ff4, #fff563, #8fbcff);
    -webkit-background-clip: text;
    padding: 12px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.dimmed {
    color: #898989;
}